/* Write your CSS here */
.bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.light-dark-mode-container {
  height: 200px;
  width: 300px;
  border-radius: 8px;
  border: 0;
  padding: 10px;
  text-align: center;
}

.heading {
  font-family: 'Roboto';
  font-size: 20px;
  color: aliceblue;
  font-weight: 800;
}
.dark-mode {
  background-color: #000000;
}
.light-mode {
  background-color: aliceblue;
}

.button {
  height: 30px;
  width: 90px;
  padding: 5px;
  border-radius: 6px;
  border-width: 1px;
  border-color: aliceblue;
}
